<!-- Service Tutorial -->

<div class="container-fluid">
    <h4>Fill The Details</h4><br><br>
    <form #form= 'ngForm' (ngSubmit)= "validate(form.value)">
        <input type="text" name="fName" placeholder="Enter First Name" ngModel #fName><br><br>
        <input type="text" name="lName" placeholder="Enter Last Name" ngModel #lName><br><br>
        <input type="text" name="eMail" placeholder="Enter Email" ngModel #eMail><br><br>
        <input type="text" name="phn" placeholder="Enter Phone Number" ngModel #phn><br><br>
        <input type="text" name="psd" placeholder="Enter Password" ngModel #psd><br><br>
        <input type="submit" value="LOG IN">
    </form>

</div><br><br><br>

<div class="container-fluid">
    <h4>Sender Page</h4><br><br>
    <input type="text" name="inpName" #inpName /><br><br>
    <input type="submit" (click)= "dis(inpName.value)" />
</div>