<div class="container-fluid mt-5">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td>Index</td>
                <td>ID</td>
                <td>Name</td>
                <td>Email</td>
                <td>Password</td>
                <td>Delete</td>
                <td>Edit</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of tableData, index as j" >
                <td>{{j}}</td>
                <td>{{i.id}}</td>
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.password}}</td>
                <td> <button class="btn btn-danger" (click) = "del(i.id)">Delete</button></td>
                <td> <button class="btn btn-primary" (click) = "edt(i.email)">Edit</button></td>
            </tr>
        </tbody>
    </table>
</div>